/* HEADER */
.font-1 {
  font: 500 1em "Titillium Web", sans-serif;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

/* TITULO PRINCIPAL */
.font-2 {
  font: 400 3em/1em "Poppins", sans-serif;
  text-transform: uppercase;
}

/* SUB-TITULO PRINCIPAL */
.font-3 {
  font: 300 1.5em "Poppins", sans-serif;
}

/* TITULO ESTILO 1 */
.font-4 {
  font: 500 2em "Poppins", sans-serif;
  letter-spacing: 0.02;
  text-transform: uppercase;
}

/* CONTEUDO */

.font-5 {
  font: 400 1.125em "Titillium Web", sans-serif;
}

.font-6 {
  font: 500 1em "Poppins", sans-serif;
  text-transform: uppercase;
}

.font-8 {
  font: 300 1em "Titillium Web", sans-serif;
}

/* SUB-TITULO 1 */
.font-7 {
  font: 400 1.625em "Poppins", sans-serif;
}

@media (max-width: 800px) {
  .font-2 {
    font-size: 2.2em;
  }

  .font-3 {
    font-size: 1.3em;
  }

  .font-4 {
    font-size: 1.6em;
  }

  .font-5 {
    font-size: 1em;
  }

  .font-7 {
    font-size: 1.4em;
  }
}

@media (max-width: 500px) {
  .font-2 {
    font-size: 1.8em;
  }

  .font-3 {
    font-size: 1.1em;
  }

  .font-4 {
    font-size: 1.3em;
  }

  .font-5 {
    font-size: 0.95em;
  }

  .font-7 {
    font-size: 1.2em;
  }
}