* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Cor de fundo lavanda clara */
    color: #333;
    height: 100%; 
    display: flex;
    flex-direction: column; 
    padding-top: 100px; /* Ajusta o topo para não sobrepor o conteúdo */
}

/* Estilo normal do header */
header {
    background-color: #6C3E8D; /* Cor roxa mais intensa */
    color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: padding 0.3s ease, background-color 0.3s ease;
}

/* Header com tamanho reduzido após rolagem */
header.shrink {
    padding: 10px 0; 
}

header.shrink h1 {
    font-size: 1.5rem; 
}

header.shrink p {
    font-size: 1rem; 
}

/* Estilo do h1 e p no header */
header h1 {
    font-size: 2.5rem;
    transition: font-size 0.5s ease;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
    transition: font-size 0.5s ease;
}

.about a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6C3E8D; 
    color: #f4f4f4;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.about a:hover {
    background-color: #7851A9; 
}

main {
    flex: 1; 
}

section {
    padding: 40px 80px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: justify;
}

.about p, li {
    font-size: 1.1rem;
    text-align: justify;
    margin-top: 20px;
}

.about ul {
    padding-left: 80px;
}

.main {
    background-color: #2c3e50;
    padding: 20px;
    width: 100%; /* Garante que a largura da seção seja de 100% */
    background-image: url('image.jpg'); /* Imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a área */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    opacity: 0.8;
}

.main h2 {
    color: #f4f4f4;
    padding: 0px 80px;
}

.projects {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.project {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 47%;
    box-shadow: 0 10px 20px rgba(2, 2, 2, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 40px 80px rgba(2, 2, 2, 0.1);
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.project a {
    color: #3498db; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.project a:hover {
    text-decoration: underline;
}

footer {
    background-color: #6C3E8D; /* Cor roxa do footer */
    color: #f4f4f4;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    section h2 {
        font-size: 1.5rem;
    }

    .projects {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 80%; 
        margin-bottom: 20px;
    }

    footer {
        padding: 15px; 
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.8rem;
    }

    section h2 {
        font-size: 1.3rem;
    }

    .projects {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 90%; 
    }

    footer {
        padding: 10px; 
    }
}
