
/* EXPERIENCIA */

.section-experiencia {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.section-experiencia .subtitulo {
    /* color: #e0e0e0; */
    color: #141414;
}
    
.experiencia {
    text-align: justify;
    font-size: 1.3rem;
    color: #525252;
    margin-top: 20px;
}

.exp-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 4px;
    position: relative;
    border-left: 5px solid #263547; 
}

.div-experiencia {
    grid-column: 1 / -1; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 50px;
}
    
.exp-titulo {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: 700;
    margin: 10px;
}

.exp-ano {
    position: absolute;
    top: -20px;
    color: #525252;
    font-size: .875rem;
}

.exp-texto {
    font-size: .875rem;
    line-height: 1.4;
    color: #525252;
    margin-left: 10px;
}

.exp-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.exp-habilidades li {
    font-size: .875rem;
    line-height: 1.4;
    border-radius: 4px;
    background: #fff;
    padding: 5px 10px;
    margin: 0;
}