.projects-bg {
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-bottom: 40px;
}

.projects-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../img/background/about_bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  z-index: -1;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.project li {
  background-color: var(--cor-2);
  border-radius: 5px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project li:hover {
  transform: translateY(-5px);
}

.project li div{
    padding: 25px;
}

.project li div h2,
.project li div p {
    margin-bottom: 10px;
}

.project li div a {
    margin-bottom: 20px;
}

.project li i {
    margin-left: 15px;
}

.project li a {
    text-decoration: underline;
}

@media (max-width: 800px) {
  .project {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.project li {
  flex: 0 0 300px; 
  scroll-snap-align: start;
}

}