* {
  margin: 0px;
  padding: 0px;
}

body {
  background: var(--cor-3);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

[src$=".jpg"] {
  width: 100%;
  display: block;
  border-radius: 5px;
}

/* COMPONENTE */
.container {
  max-width: 1220px;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 20px 40px;
}

.title-1 {
  padding-bottom: 15px;
  margin-bottom: 80px;
  border-bottom: var(--cor-5) solid 1.5px;
}

.title-2 {
  justify-items: center;
  margin-bottom: 40px;
}

.title-2 h1 {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: var(--cor-p1) solid 3px;
}

.title-3 {
  padding-bottom: 15px;
  margin-bottom: 40px;
  border-bottom: var(--cor-p1) solid 3px;
}