/* HEADER */

header {
    display: flex;
    gap: 600px;
}

header img {
    width: 60px;
    margin: 0;
}

.menu {
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

.menu a:hover {
    text-decoration-line: underline;
    text-decoration-color: #263547;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
}

@media (max-width: 800px) {
    header{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .menu a {
        padding: 5px 10px;
        font-size: 1.3rem;
    }
}